language: go

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

go:
- "1.8"
- "1.9"
- "1.10"
- tip

addons:
    apt:
        packages:
        - libsqlite3-0
        - libspatialite5

before_install:
- go get -t ./...
- go get github.com/mattn/goveralls
- go get github.com/wadey/gocovmerge
- go get golang.org/x/tools/cmd/cover

script:
- make cover

after_success:
- $HOME/gopath/bin/goveralls -coverprofile merged.cov -service=travis-ci
