language: go

sudo: false

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

go:
- 1.5
- 1.6
- tip

before_install:
- go get github.com/mattn/goveralls
- go get golang.org/x/tools/cmd/cover

script:
- $HOME/gopath/bin/goveralls -package ./wkb -service=travis-ci
